.redoc-wrap {
  --ifm-heading-margin-top: var(--ifm-heading-margin-bottom);
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

/* ------ Headings Overrides ------- */

.redoc-wrap h1,
.redoc-wrap h2,
.redoc-wrap h3,
.redoc-wrap h4,
.redoc-wrap h5,
.redoc-wrap h6 {
  color: var(--ifm-heading-color) !important;
  font-weight: var(--ifm-heading-font-weight) !important;
  line-height: var(--ifm-heading-line-height) !important;
  margin-bottom: var(--ifm-heading-margin-bottom);
  margin-top: var(--ifm-heading-margin-top);
}

.redoc-wrap h1 {
  font-size: var(--ifm-h1-font-size) !important;
}

.redoc-wrap h2 {
  font-size: var(--ifm-h2-font-size) !important;
}

.redoc-wrap h3 {
  font-size: var(--ifm-h3-font-size) !important;
}

.redoc-wrap h4 {
  font-size: var(--ifm-h4-font-size) !important;
}

.redoc-wrap h5 {
  margin-top: 0;
  text-transform: none;
  border-bottom: none !important;
}

.redoc-wrap h5 > span {
  font-weight: normal;
  font-size: inherit !important;
}

.redoc-wrap .menu-content {
  border-right: 1px solid var(--ifm-toc-border-color);
}

.redoc-wrap .menu-content div:first-child input {
  font-size: 15px;
  font-weight: normal;
}

.redoc-wrap .menu-content div:first-child {
  background-color: transparent !important;
}

.redoc-wrap .redoc-json code {
  background: #1b2028;
  color: inherit;
}

.redoc-wrap .token.boolean {
  color: hsl(350, 40%, 70%) !important;
}

.redoc-wrap ul > li.react-tabs__tab--selected:not(.tab-error):not(.tab-success) {
  color: #303846 !important;
}

.redoc-wrap table th,
table td {
  border: none;
}

.redoc-wrap table [kind='field'] {
  font-size: 15px;
}

.redoc-wrap table:not(.security-details) td {
  border-bottom: none !important;
}

.redoc-wrap table.security-details > tbody > tr {
  color: var(--ifm-font-color);
}

.redoc-wrap table.security-details tr {
  background-color: var(--ifm-background-color);
}

.redoc-wrap button {
  font-size: 15px !important;
}

.redoc-wrap .menu-content a[target='_blank'] {
  display: none;
}

.redoc-wrap .redoc-wrap > div:nth-child(2) {
  left: 20px;
}

.redoc-wrap ul[role='navigation'] {
  padding: 0.5rem;
  font-weight: var(--ifm-font-weight-semibold);
}

.redoc-wrap ul[role='navigation'] li {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.redoc-wrap label[role='menuitem'] {
  font-size: var(--ifm-font-size-base);
  border-radius: 0.25rem;
  color: var(--ifm-menu-color);
  cursor: pointer;
  display: flex;
  line-height: 20px;
  justify-content: space-between;
  margin: 0;
  padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
}

.redoc-wrap label[role='menuitem'].active {
  color: var(--ifm-menu-color-active);
}
